html {
    background-color: black;
}

.main-header {
    background-color: #000;
    padding-bottom: 0;
    border-bottom: 2px solid #FFE81F; 
}

.logo-container {
    display: flex;
    justify-content: center; 
    align-items: center;    
}

.logo {
    width: 100%;
    max-width: 200px; 
    height: auto;    
    display: block;
}

@media screen and (max-width: 712px) {
    .logo {
        max-width: 165px; 
    }
}

#character-box ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#character-box li {
    margin: 0;
}

#character-box a {
    display: block;
    padding: 15px;
    background: #1a1a1a;
    color: #fff;
    text-decoration: none;
    border-left: 4px solid transparent;
    transition: all 0.3s ease;
    font-family: 'Open Sans', sans-serif; 
}

#character-box a:hover {
    border-left: 4px solid #FFE81F; 
    background: rgb(64, 64, 64);
}

.movie-card {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

@media screen and (min-width: 768px) {
    .movie-body {
        display: flex; 
        gap: 30px;
    }
}

.movie-poster {
    width: 100%;
    max-width: 250px;
    border: 2px solid #444;
}

.movie-crawl {
    line-height: 1.6;
    font-size: 1.1rem;
}

.movie-title {
    color: white;
}